{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'book/style.css' %}">
    <script src="{% static 'book/index.js' %}"></script>
    <title>Search Books</title>
</head>
<body>
    <div class="search-text">
        <span class="center-text"><b>Search your books here!</b><br></span>
        <span class="center"><input id="search-book" type="search" placeholder="Search here"></span>
        <span class="center"><button type="button" id="search">Search</button></span>
        
    </div>
    <div id="result-table">
        <div id="found-book" class="center"></div>
        <table class="table table-striped table-dark">         
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Thumbnail</th>
                    <th scope="col">Authors</th>   
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody id="result-body">
            </tbody>
        </table> 
    </div>
    
</body>
</html>