{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'home/style.css' %}">
        <script src="{% static 'home/style.js' %}"></script>
        <title>Home</title>
    </head>
    <body class="light">
        <header>
            <nav class="navbar navbar-light bg-light fixed-top" id="navbar-bootstrap">
                <a class="navbar-brand">Home</a>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Ganti Tema</label>
                </div>
            </nav>
        </header>
        <div class="home-center">
            Selamat Datang! <br>menggunakan tema
            <div id="home-desc-tema">
                TERANG
            </div>
            <div class="home-accordion">
                <button class="accordion">Aktivitas saat ini</button>
                <div class="panel">
                    <p>Semester 3 Fasilkom UI</p>
                </div>

                <button class="accordion">Pengalaman</button>
                <div class="panel">
                    <p>PPW, SDA, Matdas 2</p>
                </div>

                <button class="accordion">Prestasi</button>
                <div class="panel">
                    <p>Coming soon</p>
                </div>
            </div>
            
        </div>     

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>