{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'book/style.css' %}">
    <title>Welcome</title>
</head>
<body>
    <div class="center">
        <h1>Home</h1>
        {% if user.is_authenticated %}
            <span>Hello {{ user.username }}, what would you do?</span><br>
            <a href="{% url 'logout' %}">Log out</a>
        {% else %}
            <span>Welcome to my website, not login yet?</span><br>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</body>
</html>