.search-text{
    padding-top: 56px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.center{
    text-align: center;
    margin-bottom: 1.5vh;
}
#search-book{
    width: 20vw;
}
.center-text{
    text-align: center;
    font-size: 2em;
}