{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'book/style.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="center">
        <h2>Login Here</h2>
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>    
    </div>
</body>
</html>