{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'status/style.css' %}">
    <title>What's Up?</title>
</head>
<body>
    <div class="tbl">
        <div class="center">
            Halo, apa kabar?
        </div>
        <div class="center">
           <form action="{% url 'status:home' %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Kirim" id="submit-status">
        </form> 
        </div>
        
    </div>   
    <div>
        <table class="table table-striped table-dark">         
            <thead>
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Tanggal Pembuatan</th>
            </tr>
            </thead>
            <tbody>
                {% for kata in status %}
                    {% if not status %}
                        <div class="text-center">Belum ada status</div>
                    {% else %}                          
                    <tr>
                        <td>{{kata.status}}</td>
                        <td>{{kata.time_created}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>   
    </div> 
</body>
</html>