.home-center{
    font-size: 1.5em;
    width: 100vw;
    padding-top: 56px;
    text-align: center;
    margin-top: 10vh;
}
.dark{
    background-color: #121212;
    color: #ffffff;
}
.light{
    background-color: #ffffff;
    color: black;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    color: black;
    display: none;
    overflow: hidden;
  }

  .panel-dark{
      background-color: #121212;
      color: white;
  }
  /* .home-accordion{
      
  } */